{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col text-center ">
                <h1 class="display-4 logo-font text-blue">SKYS's</h1>
                <h1 class="display-4 logo-font text-blue">THE LIMIT</h1>
                <h6 class="text-blue">The best furniture you</h6>
                <h6 class="text-blue">can find on the planet</h6>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-furniture-button btn btn-sm rounded-0 text-uppercase py-2 text-white">Shop Furniture</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}